flask>=3.0.0
flask-cors>=4.0.0
scikit-learn>=1.4.0
pandas>=2.1.0
numpy==1.24.4
scipy>=1.11.0
requests>=2.31.0
python-dotenv>=1.0.0
xgboost>=2.0.0
python-whois>=0.8.0
dnspython>=2.4.0
onnxruntime==1.19.2
gunicorn
beautifulsoup4>=4.12.0